Amuse-env/
books/
papers/
poster/
thesis/
simulation/output/
thesis/examples/
thesis/template_inf/
analysis/plots/
analysis/data
administration/
*.swp
rsyncify.sh
**/*.log
**/__pycache__/
testing/inputs/loadsnap_input.hdf5
**/*.ignore
Session.vim
