Amuse-env/
books/
papers/
poster/
thesis/
simulation/output/
thesis/examples/
thesis/template_inf/
analysis/plots/
analysis/data
administration/
*.swp
rsyncify.sh
**/*.log
**/__pycache__/
testing/inputs/loadsnap_input.hdf5
**/*.ignore
Session.vim
midterm-presentation/
job_outputs/
analysis/plot_222-223/
analysis/s65561_detailed_continue_t0-1_t10/
*.svg
stray_plots/
